# Copy to .env.dev and replace with YOUR real values

# Supabase (ALL services)
SUPABASE_URL=https://lbirnrtmclxfgavwhcjo.supabase.co
SUPABASE_KEY=...
ADMIN_EMAILS=admin@bath.ac.uk

# Stripe (services/business)
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

#OpenRoute (services/routing)
OPENROUTE_KEY=...

#Mailing (services/business)
SMTP2GO_API_KEY = ...


# App config (all services)
ENVIRONMENT=development
LOG_LEVEL=DEBUG


